{
  "camera": {
    "host": "http://192.168.1.13",
    "image_path": "/record/current.jpg",
    "user": "<user>",
    "password": "<password>"
  },
  "pms": {
    "host": "http://192.168.1.13",
    "path": "/upload",
    "user": "<user>",
    "password": "<password>"
  },
  "log_level": 7,
  "log_path": "logs/qr_control.log"
}
